  :root {
    --brand-color: #404BBF; 
    --text-font-family: "Roboto", sans-serif;
    --header-font-family: 'Raleway', sans-serif;
    --fonts-color:  #434455; 
    --background-color: #FFFFFFFF;
    --buttons-bkcolor : #F4F4FD;
    --buttons-font:  #4d5ae5;   
    --services-font-color: #2e2f42; 
  }
   
  .nav-website-logo  {
    
    /*font-family: var(--header-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing:  0.03em;
    text-transform: uppercase;*/
    color:var(--fonts-color) ;
  }

  .nav-header-logo {
    font-family: var(--header-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17 ;
    letter-spacing:  0.03em;
    text-transform: uppercase;
    color: var(--brand-color); 
  }

  .link {
    text-decoration: none;
     
  }
  

  .list {
    list-style: none;
    background-color: #FFFFFFFF;
  }


  .nav-studio:hover,
  .nav-studio:focus { 
    font-family:var(--text-font-family);
    font-weight: 500;
  font-size: 16px;
  line-height: 1,5px;
  letter-spacing: 0,02em;
  color: var(--fonts-color);
  background-color:var(--brand-color)
  
  
  }

  .nav-portfolio:hover,
  .nav-portfolio:focus {
    font-family: var(--text-font-family);
    font-weight: 500;
  font-size: 16px;
  line-height: 1,5px;
  letter-spacing: 0,02em;
  color: var(--fonts-color);
  background-color: var(--brand-color)
  }

  .nav-contacts:hover,
  .nav-contacts:focus {
    font-family: var(--text-font-family);
    font-weight: 500;
  font-size: 16px;
  line-height: 1,5px;
  letter-spacing: 0,02em;
  color:var(--fonts-color);
  background-color: var(--brand-color)
  }
  
  .adress-contact-section:hover,
  .adress-contact-section:focus {
    font-family: var(--text-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fonts-color);
  }

  .contact-info:hover {
    font-family: var(--text-font-family);
    font-size: 16px;
    font-style: normal;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: var(--fonts-color) ;
    background-color: var(--brand-color)




  }

  .body-section {
    font-family: var(--text-font-family);
    background-color: var(--background-color);
    color: var(--fonts-color);
     


  }

  .main-section {
    background-color: var(--fonts-color);
     
  }

  .first-section-title {
    font-family: var(--text-font-family);
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: var(--background-color);
    text-align: center;
    
   
  }

  .order-service-btn{
    
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5; 
     color: #ffffff;
    }

    .order-service-btn:hover {
      background-color:var(--brand-color);
      cursor: pointer;
    }

  .about-us-title  {
   font-family: var(--text-font-family);
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--fonts-color) ;

  }

  .about-us-descriptions  {
 font-family: var(--text-font-family);
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: var(--fonts-color);

  }

  .about-us-section {

    font-family: var(--text-font-family);
    font-weight: 700 ;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--fonts-color);
    background-color: #F4F4FD; 
  }

   

  .footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;

  }

  .footer-background {
    background-color:var(--fonts-color) ;
  }


  

  .buttons-section:hover,
  .buttons-section:focus  {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--buttons-bkcolor);
    color: var(--buttons-font);
    color: #ffffff; 
    cursor: pointer 

  }

  
  .buttons-section:hover,
  .buttons-section:focus {
       background-color: #404BBF ;
  }

  .services-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--services-font-color) ;
}

  .services-content {
    font-family: var(--text-font-family);
   font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fonts-color);
  }

  .footer-website-logo {
   
    font-family: var(--header-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17 ;
    letter-spacing:  0.03em;
    text-transform: uppercase;
    color: #F4F4FD ;
  }

  .footer-logo {
    font-family: var(--header-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17 ;
    letter-spacing:  0.03em;
    text-transform: uppercase;
    color: var(--brand-color); 
    text-transform: uppercase 
     
  }